<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__img">
      <img src="{{smallCardImg1}} {{smallCardImg2}} {{smallCardImg3}}"
      alt=""
      width="100%"
      >
    </div>
      <div class="small-card__title">
      <h1><a href="">{{smallCardTitle1}}{{smallCardTitle2}}{{smallCardTitle3}}</a></h1>
    </div>
    <div class="small-card__description">
      <p>
        <a href="">
        </a>
      </p>
    </div>
  </div>
  <div class="container__small-card_separator">
    <hr/>
  </div>
</div>

