<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="//p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/08/28/image0-(2)-1hr5vsvrv6k3b.jpeg "
      cardTitle="One Piece, a melhor serie do ano?"
      cardDescription="One Piece, a nova febre entre os jovens!!! Descubra porque esta serie tem feito tanto sucesso no mundo."
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      smallCardImg="//i.ytimg.com/vi/QzzRISDJdds/mqdefault.jpg"
      smallCardTitle="Barba Negra derrotara Shanks?"
      smallCardDescription1=""
    >
    </app-small-card>
    <app-small-card
      id="3"
      smallCardImg="//i.ytimg.com/vi/E5HVaFczOUg/maxresdefault.jpg"
      smallCardTitle="Luffy VS Kizaru"
      smallCardDescription=""
    ></app-small-card>
    <app-small-card
      id="3"
      smallCardImg="//images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/41531cc1-ac8d-429d-981d-4684edcb77e3/dg91nzh-6261ba74-f58e-41f6-bac3-0838abdae831.jpg/v1/fill/w_1280,h_829,q_75,strp/zoro_vs__mihawk_by_sujakuuu_dg91nzh-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODI5IiwicGF0aCI6IlwvZlwvNDE1MzFjYzEtYWM4ZC00MjlkLTk4MWQtNDY4NGVkY2I3N2UzXC9kZzkxbnpoLTYyNjFiYTc0LWY1OGUtNDFmNi1iYWMzLTA4MzhhYmRhZTgzMS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ldUI_EHZJN90DDkY2G1b0Kzj0OVjlBZ-lYo_Zf2wob0"
      smallCardTitle="Zoro VS Mihawk"
      smallCardDescription=""
    >
    </app-small-card>
  </div>
</div>
